{% extends "navbar.html" %}
{% block content %}
<div class="container">
  {% if gastos|count==0 %}
  <h5 class="text-justify">No existen gastos para mostrar</h5>
  {% else %}
  <br>
  <h1 class="tituloBalance text-center">Balance de gastos</h1><br><br>
  <a href="" class="btn btn-success">Reporte mensual</a>
  <br><br><br>
  <h3>Últimos movimientos</h3>
  <br>
  <table class="table">
    <thead class="thead-light">
      <tr>
        <th scope="col">Nro movimiento</th>
        <th scope="col">Orden de compra</th>
        <th scope="col">Factura referencia</th>
        <th scope="col">Rut proveedor</th>
        <th scope="col">Fecha</th>
        <th scope="col">Total neto</th>
        <th scope="col">IVA</th>
        <th scope="col">Departamento</th>
        <th scope="col">Detalle Gastos</th>
      </tr>
    </thead>
    <tbody>
      {% for gasto in gastos %}
      <tr>
        <th scope="row">{{gasto.0}}</th>
        <td>{{gasto.6}}</td>
        <td>{{gasto.1}}</td>
        <td>{{gasto.2}}</td>
        <td>{{gasto.3}}</td>
        <td>${{gasto.4}}</td>
        <td>${{(gasto.4*(0.19))|round|int}}</td>
        {% if gasto.8 == 101 %}
        <td>Adquisiciones</td>
        {% else %}
        <td>Creación de productos</td>
        {% endif %}
        <td>
          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal{{gasto.0}}">
            Detalle
          </button>
          <div class="modal fade bd-example-modal-lg" id="modal{{gasto.0}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLongTitle">Detalle Productos Reversados</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <table class="table">
                    <thead class="thead-light">
                      <tr>
                        <th scope="col">Id Producto</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Marca</th>
                        <th scope="col">Modelo</th>
                        <th scope="col">Descripción</th>
                        <th scope="col">Cantidad</th>
                      </tr>
                      <tbody>
                        {% for detalle in gasto.9 %}
                          <tr>
                            <th scope="row">{{detalle.0}}</th>
                            <td>{{detalle.2}}</td>
                            <td>{{detalle.3}}</td>
                            <td>{{detalle.4}}</td>
                            <td>{{detalle.5}}</td>
                            <td>{{detalle.1}}</td>
                          </tr>
                        {% endfor %}
                      </tbody>
                    </thead>
                  </table>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                </div>
              </div>
            </div>
          </div>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% endif %}
</div>
{% endblock %}